<h1 mat-dialog-title>Nouveau Moyen de Paiement</h1>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Type de Carte Bancaire</mat-label>
      <mat-select [(ngModel)]="data.typeCarte">
        <mat-option *ngFor="let cb of selectionCartes" [value]="cb.value">
          {{cb.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Nom et Prénom</mat-label>
      <input matInput [(ngModel)]="data.titulaire" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Numero de Compte</mat-label>
      <input minlength="16" maxlength="16" matInput [(ngModel)]="data.numCompte">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Date d'expiration</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.dateExpiration">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Cryptogramme</mat-label>
      <input minlength="3" maxlength="3" matInput [(ngModel)]="data.cryptogramme">
    </mat-form-field>
</div>
<br/>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" color='primary' [disabled]="!this.formValid()">Ajouter</button>
  <button mat-button (click)="annuler()" color="warn">Annuler</button>
</div>
